<table class="table" style="width:100%">
  <tr ng-if="found && found.length != 0">
    <th>Short Name</th>
    <th>Menu Item</th>
    <th>Description</th>
    <th>Remove Item</th>
  </tr>
  <tr ng-repeat="item in found">
    <th scope="row">{{item.short_name}}</th>
    <td>{{item.name}}</td>
    <td>{{item.description}}</td>
    <td>
    	<button class="btn" ng-click="onRemove({index: $index});">Remove
    	</button>
    </td>
  </tr>
</table>
<div ng-if="found && found.length == 0">Nothing found.</div>